* {
  box-sizing: border-box;
}

.logo-img {
  width: 300px;
  height: auto;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(247, 244, 244);
  float: right;
  margin-left: 200px;
  margin: -508px 370px;
  background-color: transparent;
  opacity: 0.8;
  filter: alpha(opacity=40);
  border-color: transparent;
}


.tituloImage {
  padding-left: 10px;
}

body {
  font-family: arial;
  color: #333333;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  font-size: 18px;
}

.page-wrapper {
  margin-top: 20px;
  background-color: #FFFFFF;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titulo {
  text-align: left;
  color: #030091;
  background-color: #F2F2F2;
  font-size: 25px;
  margin-top: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  border-left: 5px solid #016FA0; /* Adiciona uma borda esquerda */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}

.barra-vertical {
  width: 5px;
  height: 100%;
  background-color: #016FA0;
  margin-left: 40px;
}

form {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: auto;
  border: none;
  background-color: #f5f0f0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
  color: #016FA0;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 0px;
  font-weight: bold;
  color: #474444;
  text-align: left; /* Alinha o texto à esquerda */
  padding: 10px;
  margin-top: 10px; /* Adiciona uma margem superior de 10px */
  padding-left: -100px; /* Ajusta o recuo à esquerda */
}



.table-form {
  width: 100%;
  border-spacing: 25px;
  margin-bottom: 50px;
  display: inline-block;
  height: auto;
}

/* Adiciona uma classe "form-row" para agrupar as linhas */
.table-form .form-row {
  display: flex;
  flex-direction: row;
}

/* Adiciona uma classe "form-group" para estilizar os grupos de cada campo */
.table-form .form-row .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding: 30px;
  height: auto;
}

.table-form input {
  width: 700px; /* Altere o valor para o comprimento desejado */
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.425);
  border-radius: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  color: black;
  font-size: 18px;
  margin-top: 2px;
  margin-right: 30px;
}


.table-form input:focus {
  outline: 1px solid #4169e1;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.button {
  padding: 10px;
  width: 200px;
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
  float: left;

}

.button:hover {
  color: #e3e8ec;
}

.mensagem {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.mensagem.error {
  color: red;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.input-wrapper input {
  width: 100%;
}

.form-wrapper {
  float: left;
  margin-left: 20px;
}

.label-left {
  text-align: left;
  padding: 10px;
  padding-left: 30px;
}