* {
  box-sizing: border-box;
}

.logo-img {
  width: 300px;
  height: auto;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(247, 244, 244);
  float: right;
  margin-left: 200px;
  margin: -20px 80px;
  background-color: transparent;
  opacity: 0.8;
  filter: alpha(opacity=40);
}
.tituloImage {
  padding-left: 10px;
}

body {
  font-family: arial;
  color: #333333;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  font-size: 18px;
}

.page-wrapper {
  margin-top: 20px;
  background-color: #FFFFFF;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titulo {
  text-align: left;
  color: #030091;
  background-color: #F2F2F2;
  font-size: 25px;
  margin-top: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  border-left: 5px solid #016FA0; /* Adiciona uma borda esquerda */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  
}




.barra-vertical {
  width: 5px;
  height: 100%;
  background-color: #016FA0;
  margin-left: 40px;
}

form {
  width: 1000px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 1em;
  border: none;
  background-color: #FFFFFF;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
  color: #016FA0;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.table-form {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 50px;
  display: inline-block;
}

.table-form td {
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  
}

.table-form input {
  width: 10px;
  height:30px;
  border: 1px solid rgba(128, 128, 128, 0.425);
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  margin-top: 5px;
  
}

.table-form input:focus {
  outline: 1px solid #4169e1;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.button {
  padding: 10px;
  width: 200px;
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
  float: left;
}

.button:hover {
  color: #0056b3;
}

.mensagem {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.mensagem.error {
  color: red;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
}

.form-wrapper {
  float: left;
  margin-left: 20px;
}

.label-left {
  text-align: left;
}
